<?php
$AUTOCONFIG = array (
  'dbtype' => 'pgsql',
  'dbname' => '{{ dbname }}',
  'dbhost' => 'localhost',
  'dbuser' => '{{ dbuser }}',
  'dbpass' => '{{ dbpassword }}',
  'dbtableprefix' => 'oc_',
  'adminlogin' => 'admin',
  'adminpass' => {{ dbpassword }},
  'loglevel' => '1',
  'datadirectory' => '{{ datadirectory }}',
  'directory' => '{{ datadirectory }}',
);
