<?php
$CONFIG = array (
  'instanceid' => '5264e258e5261',
  'passwordsalt' => '2b47c0c528e816ff260496eec8bc19',
  'datadirectory' => '/mnt/owncloud/data',
  'dbtype' => 'pgsql',
  'version' => '5.0.22',
  'dbname' => 'owncloud',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud',
  'dbpassword' => 'Bo9phahb',
  'installed' => true,
  'loglevel' => '1',
  'theme' => 'incf'
);
