<?php
$CONFIG = array (
  'instanceid' => '5264e258e5261',
  'passwordsalt' => '2b47c0c528e816ff260496eec8bc19',
  'datadirectory' => '{{ datadirectory }}',
  'dbtype' => 'pgsql',
  'version' => '5.0.22',
  'dbname' => '{{ dbname }}',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => '{{ dbuser }}',
  'dbpassword' => '{{ dbpassword }}',
  'installed' => false,
  'loglevel' => '1',
  'theme' => 'incf'
);
