Host 86.50.168.67
    User ubuntu
    Hostname 86.50.168.67
    ProxyCommand none
    BatchMode yes
    ForwardAgent yes

Host *
    ProxyCommand ssh ubuntu@86.50.168.67 nc %h %p
    ForwardAgent yes
    TCPKeepAlive yes
#    ControlMaster auto
#    ControlPath ~/.ssh/ansible-mux-%r@%h:%p
#    ControlPersist 1h
    User ubuntu
