Host 86.50.168.67
    Hostname 86.50.168.67
    ForwardAgent yes
    User ubuntu

Host 192.168.5.5
    Hostname 192.168.5.5
    ProxyCommand ssh ubuntu@86.50.168.67 exec nc %h %p
    ForwardAgent yes
    User ubuntu

Host 192.168.5.6
    Hostname 192.168.5.6
    ProxyCommand ssh ubuntu@86.50.168.67 exec nc %h %p
    ForwardAgent yes
    User ubuntu
